<html>
    <head>
        <title>ASSA</title>
    </head>
    <body>
        <header>
            <h1 id="logo">ASSA forum</h1>
            <small id="logo_description">
                Afesiere Secondary School Afesiere Forum
            </small>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <input id="content_title" name="title_text" placeholder="Enter the title...">
                    <input id="content_body" name="content_text" placeholder="Start writing the content here...">
                </form>
                
                <table id="id_list_table">
                    {% for content in contents %}
                        <tr><td>{{ content.title }}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </header>
    </body>
</html>