<html>
    <head>
        <title>ASSA</title>
    </head>
    <body>
        <header>
            <h1 id="logo">ASSA forum</h1>
            <small id="logo_description">
                Afesiere Secondary School Afesiere Forum
            </small>
            <div>
                <p><input id="content_title" placeholder="Enter the title..."></p>
                <p><input id="content_body" placeholder="Start writing the content here..."></p>
                <table id="id_list_table">
                    
                </table>
            </div>
        </header>
    </body>
</html>